<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.typekit.net/gwc7dje.css">
    <script src="script.js" defer></script>
    <title>Impostible</title>
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="images/logo.svg">
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
          <div class="navbar-links">
            <ul>
              <li>
                <a href="{% url 'service' %}">Sign-In</a>
              </li>
              <li>
                <a href="{% url 'service' %}">Sign-Up</a>
              </li>
            </ul>
          </div>
    </nav>
    <h1>Make the best first impression.</h1>
    <h2>Check Twitter users in seconds for profanity. From vetting potential hires, to cleaning up your own social presence, use Impostible.</h2>
</body>
</html>