@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:rgba(250,251,251,1);
}
header{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
button{
    background-color: rgba(109,218,211,1);
    padding: 15px 25px;
    border:none;
    border-radius: 11px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color:white;
    letter-spacing: 0.1px;
}
button:hover{
    background-color: rgba(109,218,211,0.8);
}
.logo{
    cursor: pointer;
}

.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
  transition: all 0.3s ease 0s;
}
.nav-links li a:hover{
    color: rgba(109,218,211,1)
  }
li, a {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(19,34,53,1);
    letter-spacing: 0.1px;
    text-decoration: none;
}
/* Navigation */

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width: 672px) {
    .toggle-button {
        display:flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links.active{
        display:flex;
    }
}